<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post">
        <input type="email" name = "email" id = "email"
        placeholder="Digite seu email" required><br>
        <input type="password" name ="senha" id ="senha"
        placeholder="Digite sua senha" required><br>
        <input type="submit" value="Entrar">
    </form>
    <a href="/registro">Não possui registro?</a>

    <% if(typeof(mensaegem)!= 'undefined') {%>
        <h4><%mensagem%></h4>
        <% } %>
</body>
</html>